html {
	/* via @lianghai http://www.zhihu.com/question/19911793/answer/13329819 */
	font-family: "Helvetica Neue","Palatino","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	/* via normalize.css */	
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

h4, h5 {
	font-weight: 300;
	margin-top: 0;
}

code {
	padding: 2px;
	font-family: monospace;
	font-size: 1em;	
	border: 1px dotted black;
	border-radius: 3px;
	background-color: #eee;
}

a, a:active, a:hover, a:visited {
	text-decoration:none;
	color: black;
}

.center {
	margin: 0 auto;
	text-align: center;
}

#nav {
	top: 0px;
	width: 64px;
	opacity: 0
}

#banner {
	margin-top: 9%
}