.animate {
    &--general {
        transition: all .7s ease-in-out;
    }
    &--faster {
        transition: all .3s ease-in-out;
    }
    &--transition {
        &-enter {
            opacity: 0;
            transition: all .7s ease-in-out;
        }
        &-enter&-enter-active {
            opacity: 1;
        }
        &-leave {
            opacity: 1;
            transition: all .7s ease-in-out;
        }
        &-leave&-leave-active {
            opacity: 0;
        }
    }
}

@keyframes podpicker {
    0% {
        opacity: 1;
        filter: blur(0px);
    }
    100% {
        opacity: 0;
        filter: blur(2px);
    }
}
@keyframes doradidae {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes spinnerLoading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}