.vertically_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.overflow {
    &--x {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        transform: translate3d(0, 0, 0) scaleX(1);
    }
    &--y {
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transform: translate3d(0, 0, 0) scaleX(1);
    }
}
.text_uppercase {
    letter-spacing: 0.17em;
    text-transform: uppercase;
}
.cursor {
    &--pointer {
        cursor: pointer;
    }
    &--pre {
        cursor: inline('caret--pre.gif'), w-resize;
        cursor: -webkit-image-set(
            inline('caret--pre@2x.gif') 2x
        ), w-resize;
    }
    &--next {
        cursor: inline('caret--next.gif'), e-resize;
        cursor: -webkit-image-set(
            inline('caret--next@2x.gif') 2x
        ), e-resize;
    }
    &--zoomIn {
        cursor: zoom-in;
    }
    &--zoomOut {
        cursor: zoom-out;
    }
}