.work {
    position: relative;
    size: 100% 77vh;
    margin-bottom: 3px;
    background-color: var(--color-gray);

    &--next {
        position: relative;
        size: 100% 23vh;
        background-color: var(--color-gray);
    }


    &__banner {
        position: absolute 0 0 * *;
        size: 100%;
        text-align: center;

        &--active {
            height: calc(63% - 7px);
        }

        &__logo {
            svg {
                height: 10vh;
            }

            &--Oneline {
                svg {
                    fill: var(--color-black);
                }
                &:hover svg {
                    transform: scaleY(1.5);
                }
            }
            &--ShinyaApp-News {
                svg {
                    border: 1px solid #000;
                    border-radius: 7px;
                    background-color: var(--color-gray);
                }
                &:hover svg {
                    background-color: #000;
                }
            }
            &--PodPicker {
                &:hover svg {
                    animation: podpicker_animate 0.7s infinite alternate linear;
                }
            }
            &--ShinyaApp {

            }
            &--Doradidae {
                &:hover svg {
                    animation: doradidae_animate 0.2s ease infinite alternate;
                }
            }
        }
        &__description {
            position: absolute calc(31.5vh) * * 0;
            width: 100%;
            font-size: var(--font-size-base);
            font-weight: lighter;
        }
        &__link-btn {
            display: inline-block;
            size: 17px 7px;
            margin: 17px 3px;
            padding: 3px;
            border-radius: 3px;
            filter: grayscale(100%);

            &--red {
                background-color: #E9392C;
            }
            &--blue {
                background-color: #3D57C7;
            }

            &:hover {
                filter: grayscale(0%);
            }
            @media (--all-mobile-devices) {
                filter: grayscale(0%);
            }
        }
    }

    &__demo {
        position: absolute * * 7px *;
        size: 100% 37%;
        white-space: nowrap;

        img {
            height: 100%;
            margin-right: 7px;
            cursor: zoom-in;

            &:first-child {
                margin-left: 7px;
            }
        }

        &--zoom {
            position: absolute 0 0 * *;
            size: 100%;
            text-align: center;
            background-color: var(--color-black-alpha);
            cursor: zoom-out;

            img, video {
                max-height: 97%;
                max-width: 97%;
            }

            &__description {
                position: absolute * 7px 1.5% *;
                padding: 3px;
                font-size: var(--font-size-small);
                font-weight: lighter;
                color: var(--color-black);
                background-color: var(--color-gray-drak);
                border-radius: 3px;
            }
        }
    }
}