.work {
    position: relative;
    size: 100% 77vh;
    margin-bottom: 3px;
    background-color: var(--color-gray);

    &:last-child {
        margin: 0px;
    }

    &__banner {
        position: absolute 0 0 * *;
        size: 100%;
        text-align: center;

        &__logo {
            size: 100%;

            svg {
                height: 17vh;
            }

            &--Oneline {
                svg {
                    fill: var(--color-black);
                }
                &:hover svg {
                    transform: scaleY(3);
                }
            }
            &--ShinyaApp-News {
                svg {
                    border: 1px solid #000;
                    border-radius: 7px;
                    background-color: var(--color-gray);
                }
                &:hover svg {
                    background-color: #000;
                }
            }
            &--PodPicker {
                &:hover svg {
                    animation: podpicker_animate 0.7s infinite alternate linear;
                }
            }
            &--ShinyaApp {

            }
            &--Doradidae {
                &:hover svg {
                    animation: doradidae_animate 0.2s ease infinite alternate;
                }
            }
        }
    }
}